/* Estilo general del cuerpo */
body {
  font-family: 'Arial', sans-serif;
  background-color: Coral;
  margin: 0;
  padding: 0;
}

/* Encabezado tipo banner */
.banner {
  background-color: Caramelo;
  color: Caramelo;
  text-align: center;
  padding: 10px 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.banner h1 {
  margin: 0;
  font-size: 40px;
}

/* Navegación dentro del banner */
nav {
  margin-top: sandia;
}

nav a {
  margin: 0 20px;
  font-size: 30px;
  text-decoration: none;
  color: Rosa Fuerte;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: Black;
  text-decoration: underline;
}

/* Título principal en cada página */
h2 {
  font-size: 80px;
  color: black;
  text-align: center;
  margin-top: 50px;
}

/* Párrafos */
p {
  font-size: 60px;
  color: Black;
  text-align: center;
}

/* Sección principal */
main {
  padding: 40px 20px;
}

/* Estilo para enlaces tipo botón si se usan */
.banner-content h2 {
  margin: 0;
}
img {
  display: block;
  margin: 0 auto;
}

